In [1]:
a="sum"
type(a)

str

In [2]:
for i in range (len(a)):
    print(a[i])

s
u
m

In [3]:
#Properties of String
# 1. Conacatenation
a='12'+'34'
print(a)

1234

In [4]:
#Replication
a='12'+3
print(a)

TypeError: can only concatenate str (not "int") to str

In [5]:
# 3. Slicing in String
a="Python"
print(a[0])
print(a[1])
print(a[2])

print(a[-1])
print(a[-2])
print(a[-3])

P
y
t
n
o
h

In [6]:
a="Python"
print(a[0:4])
print(a[4:])
print(a[:3])
print(a[:])

Pyth
on
Pyt
Python

In [7]:
# 1. Lower() and Upper(): Conver the string to lowercase or uppercase
text="Hello"
print(text.lower())
print(text.upper())

hello
HELLO

In [8]:
# 2. Strip(): Removes whitespaces from both ends of strings
text="            Hello ,   World!       "
print(text.strip())

Hello ,   World!

In [9]:
# 3. replace: Replaces a substring with another string
text="I love Python"
print(text.replace("Python","coding"))

I love coding

In [10]:
# 4. split(): Splits a string into a list
text="Apple, Banana, Cherry"
print(text.split(","))

['Apple', ' Banana', ' Cherry']

In [11]:
# 5. join():Joins elements of a list into a single string
fruits=["Apple","Banana","Cherry"]
print(",".join(fruits))

Apple,Banana,Cherry

In [12]:
# 6. Isalnum():
a="sam123"
a.isalnum()

True

In [14]:
# 7.Isalpha():
a="sam"
a.isalpha()

True

In [16]:
# 8. isdigit():
a="1234"
a.isdigit()

True

### **List in Python**

In [17]:
# 1. identification = []
# 2. Mutable datatype == We can change or update the values at a runtime
# 3. Indexing start from 0 and length start from 1

In [18]:
a=['sam','python','rahul','math']
type(a)

list

In [20]:
print(a[0][2])
print(a[1])
print(a[2])
print(a[3])

m
python
rahul
math

In [21]:
for i in range(len(a)):
  print(a[i])

sam
python
rahul
math

In [24]:
for i in range(len(a)):
  print(i)

0
1
2
3

# **Properties of List**

In [26]:

# 1. Concatenation
a=[1,2,3]
b=[4,5,6]
c=a+b
print(c)

[1, 2, 3, 4, 5, 6]

In [27]:
# 2. Replication
a=[1,2,3]
a*3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

# Functions in List

In [31]:
# 1. Len()
a=[1,2,3,4,5]
print(len(a))
print(a.index(5))

5
4

In [29]:
# 2. index()
a=['sam','python','rahul','math']
print(a.index('math'))

3

In [33]:
# 3. append() == It will add element in the last indexing
a=['sam','python','rahul','math']
a.append('physics')
a

['sam', 'python', 'rahul', 'math', 'physics']

In [34]:
# 4. insert(index, object)== We can add element at any indexing
a=['sam','python','rahul','math']
a.insert(1,'chemistry')
a

['sam', 'chemistry', 'python', 'rahul', 'math']

In [35]:
# 5. remove()
a=['sam','python','rahul','math']
a.remove('math')
a

In [37]:
# 6. pop()
a=['sam','python','rahul','math']
print(a)
a.pop()
print(a)
a.pop()
print(a)
a.pop()
print(a)

['sam', 'python', 'rahul', 'math']
['sam', 'python', 'rahul']
['sam', 'python']
['sam']

# **How can we create user defined list**

In [1]:
a=[]
size = int(input("Enter item:"))
for i in range (size):
  Val = input("Enter value:")
  a.append(Val)
print(a)

Enter item:2
Enter value:hsdfbns
Enter value:jdksnA
['hsdfbns', 'jdksnA']

# **Tuple in Python**

In [2]:
# 1. Identification == ()
# 2. Immutable datatype = We cannot change or update our values at a runtime
# 3.Indexing start from 0 and length start from 1

In [3]:
a=('math','physics','js')
type(a)

tuple

In [4]:
print(a[0])
print(a[1])
print(a[2])

math
physics
js

In [6]:
a=13,
type(a)

tuple

# Loop in Tuple

In [8]:
a= ('raj','sam','mohit')
for i in a:
  print(i)

raj
sam
mohit

In [9]:
print(a[0:])
print(a[0:2])
print(a[:2])
print(a[:])

('raj', 'sam', 'mohit')
('raj', 'sam')
('raj', 'sam')
('raj', 'sam', 'mohit')

# **FUNCTIONS IN TUPLE**

In [11]:
# 1. Len()
a=(1,2,3,4,5)
print(len(a))

5

In [12]:
# 2. index()
a=(1,2,578,90)
print(a.index(578))

2

In [13]:
# 3. count()== It will return total frequency of object
a=(1,2,2,2,2,2,3,4)
print(a.count(2))

5

# **How can we user defined tuple**

In [15]:
a=[]
size = int(input("Enter item:"))
for i in range (size):
  val = input("Enter value:")
  a.append(val)
b=tuple(a)
print(b)

Enter item:2
Enter value:njsdkfn
Enter value:dnsfkd
('njsdkfn', 'dnsfkd')

In [19]:
a=[]
size = int(input("Enter item:"))
for i in range (size):
  val = int(input("Enter value:"))
  a.append(val)
b=tuple(a)
print(b)
c=list(b)
p=int(input("Enter Your index for updated:"))
c[p]=int(input("Enter updated value:"))
d=tuple(c)
print(d)

Enter item:4
Enter value:215
Enter value:326
Enter value:2631
Enter value:323
(215, 326, 2631, 323)
Enter Your index for updated:2
Enter updated value:26215
(215, 326, 26215, 323)

# **Dictionary in Python**

In [1]:
# 1. Identification ={key:value , key:value......}
# 2. Mutable Datatype = We can change or update at a run time.
# 3. Elements are seaprated by commas

In [2]:
a={'brand':'Mahindra','Model':'Scorpio','Year':2022}
type(a)

dict

In [4]:
for i in a.keys():
  print(i)

brand
Model
Year

In [5]:
for i in a.values():
  print(i)

Mahindra
Scorpio
2022

In [9]:
for x,y in a.items():
  print(x,y)

brand Mahindra
Model Scorpio
Year 2022

In [10]:
a['Year']=2025

In [11]:
a

{'brand': 'Mahindra', 'Model': 'Scorpio', 'Year': 2025}

In [12]:
a['year']=2026

In [13]:
a

{'brand': 'Mahindra', 'Model': 'Scorpio', 'Year': 2025, 'year': 2026}

# ***FUNCTIONS IN DICTIONARY***

In [18]:
# 1.Len()
len(a)

3

In [19]:
# 2. pop()
print(a)
a.pop('year')
print(a)

{'brand': 'Mahindra', 'Model': 'Scorpio', 'Year': 2025}

KeyError: 'year'

In [22]:
# 3. popitem()
a={'brand':'Mahindra','Model':'Scorpio','Year':2022}
print(a)
a.popitem()
print(a)
a.popitem()
print(a)

{'brand': 'Mahindra', 'Model': 'Scorpio', 'Year': 2022}
{'brand': 'Mahindra', 'Model': 'Scorpio'}
{'brand': 'Mahindra'}

In [23]:
# 4. del
a={'brand':'Mahindra','Model':'Scorpio','Year':2022}
print(a)
del a
print(a)

{'brand': 'Mahindra', 'Model': 'Scorpio', 'Year': 2022}

NameError: name 'a' is not defined

In [24]:
# 5. clear()
a={'brand':'Mahindra','Model':'Scorpio','Year':2022}
a.clear()
a

{}

# ***SETS IN PYTHON***

In [25]:
# 1. Identification={}
# 2. Mutable, Unordered, Unindexed
# 3. It will not accept duplicate values

In [29]:
a={'a','b','a','a','c'}
print(a)

{'a', 'b', 'c'}

In [28]:
type(a)

set

In [30]:
## Mutable
a={'a','b','a','a','c'}
a.add('d')
print(a)

{'a', 'd', 'b', 'c'}

In [31]:
a.remove('d')
a

{'a', 'b', 'c'}

# **LOOPS IN SETS**

In [32]:
for i in a:
  print(i)

a
b
c

# OPERATIONS OF SETS

In [ ]:
# 1. Union()
a={1,2,3,4}
b={3,4,5,6}
c=a.union(b)
c

In [ ]:
# 2. Intersection()
a={1,2,3,4}
b={3,4,5,6}
c=a.intersection(b)
c

In [ ]:
# 3.
a-b